.ricksHead{
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
}

.title{
    display: inline-block;
    font-weight: bold;
    color: white;
}

.checkbox{
    display: inline-block;
    color: white;
    margin-right: 1rem;
}